// COLORS
$primary-color: #FFF;//#58caff;
$secondary-color: #01014F;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #01014F;

$dark-grey: #000000;

$dark-blue-text: #fff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
